body {
    background: url("../../assets/images/fabric_of_squares_gray.png")antiquewhite;
    background-size: cover;
}

p{
    font-size: 1.3em;
}

.heading{
    text-align: center;
}

.displayGifsBtn {

   color: white;
   background-color: gray;
   border-radius: 5px;
   margin: 0 5px;
   padding: 4px;


}
#displayGifs { 
    margin-top: 30px;
}

#formSpace{
    margin-top: 35px;
}
.animate{
    margin: 10px 0;
    padding-bottom: 10px;
}