body {
    background: url("../../assets/images/fabric_of_squares_gray.png")antiquewhite;
    background-size: cover;
}

.heading{
    text-align: center;
}

.displayGifsBtn {

   color: white;
   background-color: gray;
   border-radius: 5px;
   margin: 0 5px;
   padding: 4px;


}
#displayGifs {
    width: 400px;
    border: 1px red solid;
    margin-left: 300px;
    margin-top: 25px;
}